<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (address(); as addressRef) {
      <div>
        <h2 data-cy="addressDetailsHeading"><span jhiTranslate="gatewayApp.customerAddress.detail.title">Address</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ addressRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.customerAddress.street">Street</span></dt>
          <dd>
            <span>{{ addressRef.street }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.customerAddress.city">City</span></dt>
          <dd>
            <span>{{ addressRef.city }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.customerAddress.country">Country</span></dt>
          <dd>
            <span>{{ addressRef.country }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.customerAddress.customer">Customer</span></dt>
          <dd>
            @if (address()!.customer) {
              <div>
                <a [routerLink]="['/customer', address()!.customer?.id, 'view']">{{ addressRef.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/address', addressRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
